#home-about {
    padding: 1rem 5rem 1rem 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#home-about > #writing-section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#home-about > #writing-section > .info > h3 {
    display: flex;
    justify-content: center;
    background-color: rgb(239, 239, 239);
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
}

#home-about > #image-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

#home-about > #image-section > img{
    height: 70vh;
    margin-left: 5rem;
}

#home-about > #writing-section > #mobile-image-section > img {
    display: none
}

@media (max-width: 1200px) {
    #home-about {
        grid-template-columns: 1fr;
    }

    #home-about > #writing-section > #mobile-image-section {
        display: flex;
        justify-content: center;
    }

    #home-about > #writing-section > #mobile-image-section > img {
        display: flex;
        width: 100%;
    }

    #home-about > #image-section > img{
        display: none;
    }
}