#navbar {
    background-color: var(--beige);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
    min-height: 10vh;
}

#navbar h2 {
    margin-left: 3rem;
}

#navbar > .name {
    color: white;
}

#navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
}

.link {
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 1rem;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: medium;
    /* background-color: antiquewhite; */
    position: relative;
}

.linkt {
    /* width: 100%; */
    /* height: 300px; */
    /* background-color: aqua; */
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#activities-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--beige);
    z-index: 1;
}

.dropdown-content > .dropdown-item {
    display: block;
    text-align: center;
    border-top: 1px solid rgb(222, 222, 222);
    transition: 0.2s all cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.dropdown-content > .dropdown-item:hover {
    background-color: #b09076;
}

#activities-dropdown:hover .dropdown-content {display: block;}

#sep {
    background-color: rgb(231, 231, 231);
    height: 50px;
    width: 2px;
}

#bars {
    display: none;
}

#balls {
    display: none;
}


@media (min-width: 800px) and (max-width: 1000px) {
    #navbar {
        justify-content: center;
    }

    #navbar h2 {
        display: none;
    }
}

@media (max-width: 800px) {
    #navbar {
        display: flex;
        justify-content: center;
    }

    #navbar ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin: 1rem; */
        /* gap: 1rem; */
    }

    #sep {
        display: none;
    }

    #navbar h2 {
        display: none;
    }

    #bars {
        display: block;
        position: absolute;
        right: 30px;
        top: 30px;
        z-index: 99;
    }

    #activities-dropdown {
        display: none;
    }

    .mobile {
        display: block;
        margin: 0;
        padding: 0;
    }

    .link {
        padding: 0;
        margin: 0;
        /* background-color: aqua; */
        font-size: 3ch;
        font-weight: 500;
    }

    li {
        padding: 0;
        margin: 0;
        /* font-size: larger; */
    }

    #balls {
        display: block;
        text-align: center;
        gap: 10rem;
    }
}
