#navbar {
    background-color: var(--beige);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#navbar h2 {
    margin-left: 3rem;
}

#navbar > .name {
    color: white;
}

#navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
}

.link {
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 1rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: medium;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#activities-dropdown {
    position: relative;
    display: inline-block;
}

#activities-dropdown > button {
    font-size: medium;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--beige);
    z-index: 1;
    border-radius: 5px;
    margin: auto;
}

.dropdown-content > .dropdown-item {
    display: block;
    padding-inline: 1rem;
    text-align: center;
    border-top: 1px solid rgb(222, 222, 222);
    transition: 0.2s all cubic-bezier(0.165, 0.84, 0.44, 1);
}

.dropdown-content > .dropdown-item:hover {
    background-color: #b09076;
}

.dd-link {
    padding: 1rem;
}

#activities-dropdown:hover .dropdown-content {display: block;}

#sep {
    background-color: rgb(231, 231, 231);
    height: 50px;
    width: 2px;
}