#volunteer-about {
    padding: 1rem 5rem 1rem 5rem;
}

#volunteer-about > #writing-section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 80%;
    margin: auto
}

#volunteer-about > #writing-section > .info > h3 {
    display: flex;
    justify-content: center;
    background-color: rgb(239, 239, 239);
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
}