/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --beige: #A18167;

}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;

  box-sizing: border-box;

  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Open Sans', sans-serif;

  text-decoration: none;
  line-height: 2;

  list-style: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a:visited {
  color: inherit;
}

.divider {
  border-top: 2px solid #bbb;
  margin: auto;
  width: 90%;
  border-radius: 15px;
}
